<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.appfuse.model.User"/>
        <mapping class="org.appfuse.model.Role"/>
        <mapping class="com.qganlan.model.Goods"/>
        <mapping class="com.qganlan.model.MyGoods"/>
        <mapping class="com.qganlan.model.Shop"/>
        <mapping class="com.qganlan.model.Provider"/>
        <mapping class="com.qganlan.model.ProviderClass"/>
        <mapping class="com.qganlan.model.JTaobaoSessionKey"/>
        <mapping class="com.qganlan.model.MyConfig"/>
        <mapping class="com.qganlan.model.Trade"/>
        <mapping class="com.qganlan.model.TradeGoods"/>
        <mapping class="com.qganlan.model.ApiSysMatch"/>
        <mapping class="com.qganlan.model.MoneyInOut"/>
        <mapping class="com.qganlan.model.TaobaoItemImg"/>
        <mapping class="com.qganlan.model.TaobaoItem"/>
        <mapping class="com.qganlan.model.TaobaoItemPropImg"/>
        <mapping class="com.qganlan.model.TaobaoItemSku"/>
        <mapping class="com.qganlan.model.ItemUpdate"/>
        <mapping class="com.qganlan.model.JRawTrade"/>
        <mapping class="com.qganlan.model.JRawOrder"/>
        <mapping class="com.qganlan.model.JTbkShopUrl"/>
        <mapping class="com.qganlan.model.JLogisticsCompany"/>
        <mapping class="com.qganlan.model.GApiTrade"/>
        <mapping class="com.qganlan.model.GApiTradeGoods"/>
        <mapping class="com.qganlan.model.GSysCreateNo"/>
        <mapping resource="stock.hbm.xml"/>
        <mapping resource="goods.hbm.xml"/>
        <mapping resource="trade.hbm.xml"/>
    </session-factory>
</hibernate-configuration>